/app/config/parameters.yml
/bin/
!bin/console
/build/
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/git.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/.settings
/.project
/.buildpath
/var/*
!var/.gitkeep
.DS_Store
/web/css
/web/js
/web/config.php
.idea
.idea/*
*~
