<html>
<head>
    <style type="text/css">
        body { font-family: Arial; line-height: 1.5em; }
    </style>
</head>
<body>
<p>Er is geen hulpverlener beschikbaar</p>
Geen hulpverlener beschikbaar voor de volgende brief: </p>
<p><a href="{{ url('gemeenteamsterdam_brievenhulp_hulpverlener_detail', {'hulpvraagUuid': hulpvraag.uuid}) }}">Bekijk vraag</a></p>
</body>
</html>